strict-ssl=false
registry=http://10.185.71.124:8081/nexus/content/groups/hotelbeds-npm-repository
#registry=http://nexus.hotelbeds/nexus/content/repositories/npm-proxy
#registry=https://registry.npmjs.org
email=stas.granin@hotelbeds.com
