@import "shared";

:host {
	width: 100%;
}

.scroll-able-sub-menu {
	max-height: 60vh;
	overflow-y: auto;
	overflow-x: auto;

	.sub-menu-item {
		@include flex(flex-start);
		.sub-menu-columns-container {
			border-right: 1px dashed $color64;
			padding: 0 10px;

			.sub-menu-title {
				padding-bottom: 10px;
				padding-left: 22px;
			}

			&:last-child {
				border-right: none;
			}

			.sub-menu-category {
				@include flex();
				@include text-style(13px, $color74);
				font-family: 'Roboto', sans-serif !important;
				cursor: pointer;
				padding-bottom: 6px;

				.favorite-div {
					@include dimension(22px);
					cursor: pointer;
				}

				.favorite-div:not(.show-favorite) {
					img {
						display: none;
					}
				}

				&:hover {
					.favorite-div:not(.show-favorite) {
						img {
							display: block;
							content: url(../../../../../assets/icons/images/favorites_off.jpg);
						}
					}
				}

				.column-name {
					@include flex();
					flex: 1;

					.page-name{
						text-decoration: underline;
						padding-top: 3px;
					}

					.new-link {
						height: 22px;
						line-height: 22px;
						margin: 0 16px 0 6px;
						padding: 0 10px 0 10px;
						background: $color88;
						color: $white;
						font-size: 12px;
						font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
						text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
						font-weight: bold;
						border-radius: 6px;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: $tablet) {
	.scroll-able-sub-menu {
		margin-top: 20px;

		.sub-menu-item {
			margin-top: 10px;

			.sub-menu-columns-container {

				&:first-child {
					padding-left: 0;
				}

				.sub-menu-title {
					font-size: 13px;
				}

				.sub-menu-category {
					font-size: 12px;
				}
			}
		}
	}
}
